WcfStreamServiceClient/Connected Services/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfStreamServiceContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfStreamServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResponseFileInfoMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseFileInfoMessage" nillable="true" type="tns:ResponseFileInfoMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseFileInfoMessage" nillable="true" type="tns:ArrayOfResponseFileInfoMessage" />
  <xs:complexType name="ResponseFileInfoMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseFileInfoMessage" nillable="true" type="tns:ResponseFileInfoMessage" />
</xs:schema>